html,
body,
.wrapper {
    height: 100%;
}

.wrapper {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* CUSTOM */

.signin-back {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #2a2a2a;
    min-height: 400px
}

.signin-back-inner {
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 10px;
    left: 10px;
    background-color: transparent;
}

.signin-front {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 0px 20px 10px #000000;
    /* background-image: url('../img/login_background.svg'); */
    background-image: url('../img/3674077.jpg');
    /* The image used */
    /* background-image: url("img_parallax.jpg"); */
    /* Set a specific height */
    /* height: 100%; */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.signin-front-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.514)
}

.login-cont-out {
    position: relative;
    /* background-color: beige; */
    height: 100%;
}

.login-cont {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    min-height: 300px;
    /* background-color: aquamarine; */
}

.login-btn-cont {
    padding: 20px 30px 0 30px;
}

.login-btn {
    border: 0;
    width: 100%;
    background-color: #353ac9;
    color: white;
    height: 30px;
    transition: 0.3s
}

.login-btn:hover {
    background-color: #191c6e;
    cursor: pointer;
}

.error-cont {
    padding: 0 30px 0 30px;
}

.error-cont .error-text {
    background-color: #b3002aad;
    color: white;
    text-align: center;
    font-size: 13px;
}

.error-text {
    text-align: center;
}

.error-text span {}

.login-cont input[type="text"],
.login-cont input[type="password"] {
    font-weight: normal;
    color: #f5f5f5;
}

.login-heading {
    text-align: center;
    color: #f5f5f5
}

.input-cont {
    width: 400px;
    margin: auto;
    background-color: lavender;
    height: 300px;
    margin-top: 100px;
    padding: 10px;
}

.input-field-cont {
    width: 100%;
    height: 55px;
    background-color: blueviolet;
    position: relative;
}

.input-field-cont input[type="text"] {
    width: 100%;
    height: 30px;
    margin: 25px 0 0 0;
}

.input-field-cont .input-field-icon {
    position: absolute;
    left: 5px;
    bottom: 2px;
    font-size: 20px;
    color: #f5f5f5;
}


/* TEXT FIELD CUSTOMIZED */

.input--nao {
    overflow: hidden;
    padding-top: 1em;
}

.input__field--nao {
    padding: 0.5em 0em 0.25em;
    width: 100%;
    background: transparent;
    color: #9da8b2;
    font-size: 1.25em;
}

.input__label--nao {
    color: #ffffff;
    position: absolute;
    top: 0.95em;
    font-size: 0.85em;
    left: 0;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0em;
    pointer-events: none;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
    transition: transform 0.2s 0.15s, color 1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.graphic--nao {
    stroke: #ffffff60;
    pointer-events: none;
    -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
    transition: transform 0.7s, stroke 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field--nao:focus+.input__label--nao,
.input--filled .input__label--nao {
    color: rgba(255, 255, 255, 0.568);
    -webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
    transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--nao:focus~.graphic--nao,
.input--filled .graphic--nao {
    stroke: rgb(255, 255, 255);
    -webkit-transform: translate3d(-66.6%, 0, 0);
    transform: translate3d(-66.6%, 0, 0);
}