.custom-table {
    text-align: center;
}

#department-show-table tbody tr td:last-child {
    width: 90px;
}

.custom-control-label::before,
.custom-control-label::after {
    top: -14px;
    left: -7px;
}

.dptmnt {
    background-color: rgb(202, 201, 201);
    padding: 3px 5px 3px 5px;
}

.dptmnt-head-order {
    background-color: rgb(202, 202, 202);
    padding: 3px 5px 3px 5px;
}