.custom-table {
    text-align: center;
}

#department-show-table tbody tr td:last-child {
    width: 90px;
}

.custom-control-label::before,
.custom-control-label::after {
    top: -14px;
    left: -7px;
}

.dptmnt {
    background-color: rgb(202, 201, 201);
    padding: 3px 5px 3px 5px;
}

.dptmnt-head-order {
    background-color: rgb(202, 202, 202);
    padding: 3px 5px 3px 5px;
}

#prof-show-table tbody tr td:last-child {
    width: 90px
}

#course-show-table tr td:last-child {
    width: 90px
}

#prereq-show-table tr th:last-child {
    width: 90px
}

#course-section-show-table tr th:first-child {
    width: 90px
}

#course-section-show-table tr th:last-child {
    width: 90px
}

#course-section-show-table tr th:nth-child(5) {
    width: 70px
}

#course-section-show-table tr th:nth-child(6) {
    width: 90px
}

#company-session-detail-show-table tr th:last-child {
    width: 90px
}

#comp-sesson-manager-show-table tr th:last-child {
    width: 90px
}

#students-show-table tr th:last-child {
    width: 115px
}

.stdent-detail-cont .stdent-detail-item {
    min-height: 300px;
    width: 100%;
    /* background-color: rgb(209, 209, 209) */
    box-shadow: 2px 2px 10px 2px #4242425b
}

.stdent-detail-cont .stdent-detail-item .head {
    background-color: #dddddd;
    padding: 3px 3px 3px 5px
}