.heading1 {
    text-align: center;
}

.sesction1 {
    background-color: #f6f6f6;
    padding: 3px 0 3px 10px;
}

#show-text-books tbody tr td:first-child {
    width: 50px;
}

#show-text-books tbody tr td:last-child {
    width: 60px;
}

.custom-control-label {
    cursor: pointer;
}

#show-book-table {
    text-align: center
}

.custom-control-label::before,
.custom-control-label::after {
    top: -14px;
    left: -7px;
}